<div>
  <div class="absolute top-5 left-5">
    <main-menu />
  </div>

  <div class="mt-20 ml-20 mr-20 rounded-2xl">
    <div class="mb-4 flex items-center">
      <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilter" optionLabel="label"
        placeholder="Seleccionar filtro" class="mr-4" optionValue="value"></p-dropdown>
      <input pInputText type="text" [(ngModel)]="searchText" (input)="filterTable()" placeholder="Buscar"
        class="p-inputtext-sm border-2 rounded-md border-gray-300 " />
      <button class="ml-2" pButton icon="pi pi-search" label="Buscar" (click)="filterTable()"></button>
      <button class="ml-2" pButton icon="pi pi-file-import" ></button>

    </div>

    <p-table [value]="filteredTransactions" selectionMode="single" [(selection)]="selectedTransaction" dataKey="id"
      [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="rows" [first]="first"
      [rowsPerPageOptions]="[5, 10, 15]" (onPage)="onPageChange($event)" [responsiveLayout]="'scroll'">
      <ng-template pTemplate="header">
        <tr>
          <th>ID de la transacción</th>
          <th>Nombre del curso</th>
          <th>Monto cancelado</th>
          <th>Método de pago</th>
          <th>Estado de la transacción</th>
          <th>Estudiante</th>
          <th>Validado por</th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-transaction>
        <tr [pSelectableRow]="transaction">
          <td>{{ transaction.id }}</td>
          <td>{{ transaction.course?.name }}</td>
          <td>{{ transaction.amount }}</td>
          <td>
            <p-tag [value]="transaction.paymentMethod" [severity]="getPaymentMethodSeverity(transaction.paymentMethod)"
              icon="pi pi-tag" />
          </td>
          <td>
            <p-tag [value]="getStatusLabel(transaction.status)" [severity]="getStatusSeverity(transaction.status)"
              icon="pi pi-circle-fill" />
          </td>
          <td>{{ transaction.user?.email }}</td>
          <td>{{ transaction.validatedBy?.email || 'N/A' }}</td>
          <td>
            <p-button (click)="viewDetails(transaction)">
              Detalles
            </p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog header="Detalles de la transacción" [(visible)]="displayDialog" [modal]="true" [style]="{ width: '40vw' }"
    [baseZIndex]="10000" [dismissableMask]="true">
    <ng-container *ngIf="selectedTransaction">
      <div class="mb-4 p-8 flex flex-col items-center justify-center gap-2">
        <p-card [style]="{ width: '30rem', overflow: 'hidden' }" class="h-full">
          <!-- Cabecera con la imagen -->
          <ng-template #header>
            <img alt="Portada del curso" class="w-full h-[300px] object-cover"
              [src]="selectedTransaction.course.image || '/cover_img_not_set.png'"
              onerror="this.src='/cover_img_not_set.png'" />
          </ng-template>

          <!-- Course's title and amount being paid -->
          <ng-template #title>
            <div class="flex flex-column gap-4 align-items-center justify-content-center">
              <span class="text-xl font-bold mb-1">{{ selectedTransaction.course.name }}</span>
              <span class="text-green-600 font-semibold">{{ selectedTransaction.amount | currency: 'USD' }}</span>
            </div>
          </ng-template>

          <!-- Payment description -->
          <div class="grid gap-3 p-2">
            <!-- Sección Estudiante -->
            <p-fieldset legend="Información de la transacción">
              <div class="col-12">
                <div class="flex items-center gap-2 text-color-secondary">
                  <i class="pi pi-user"></i>
                  <span class="font-semibold">Estudiante:</span>
                  <span class="line-clamp-1">{{ selectedTransaction.user.email }}</span>
                </div>
              </div>

              <!-- Validated by info -->
              <div class="col-12">
                <div class="flex items-center gap-2 text-color-secondary">
                  <i class="pi pi-check-circle"></i>
                  <span class="font-semibold">Operador:</span>
                  <span class="line-clamp-1">{{ selectedTransaction.validatedBy?.email || 'N/A' }}</span>
                </div>
              </div>

              <!-- Details -->
              <div class="col-12 grid gap-2">
                <div class="col-6 flex items-center gap-2">
                  <i class="pi pi-credit-card"></i>
                  <span class="font-medium">Método:</span>
                  <p-tag [value]="selectedTransaction.paymentMethod"
                    [severity]="getPaymentMethodSeverity(selectedTransaction.paymentMethod)" icon="pi pi-tag"></p-tag>
                </div>

                <div class="col-6 flex items-center gap-2">
                  <i class="pi pi-info-circle"></i>
                  <span class="font-medium">Estado:</span>
                  <p-tag [value]="getStatusLabel(selectedTransaction.status)"
                    [severity]="getStatusSeverity(selectedTransaction.status)" icon="pi pi-circle-fill"></p-tag>
                </div>
              </div>

              <!-- Dte and description -->
              <div class="col-12">
                <div class="flex items-center gap-2 text-color-secondary">
                  <i class="pi pi-calendar"></i>
                  <span class="font-semibold">{{ selectedTransaction.createdAt | date: 'dd/MM/yyyy' }}</span>
                </div>
              </div>
            </p-fieldset>

            <p-fieldset legend="Descripción">
              <div class="col-12 border-top-1 surface-border pt-3">
                <p class="text-sm line-clamp-3 m-0">

                  {{ selectedTransaction.description || 'Sin descripción' }}
                </p>
              </div>
            </p-fieldset>
          </div>
          <!-- Footer with buttons -->
          <p-fieldset legend="Acciones sobre la transacción" *ngIf="selectedTransaction.status == 'rejected' || selectedTransaction.status == 'completed'">
            <span class="flex gap-4">
              <p-button *ngIf="selectedTransaction.status == 'rejected'" label="Aceptar" icon="pi pi-check"
                (click)="onReview($event)" variant="outlined"></p-button>
              <p-button *ngIf="selectedTransaction.status == 'completed'" label="Cancelar" icon="pi pi-times"
                (click)="onReject($event)" variant="outlined" severity="danger"></p-button>
            </span>


            <p-toast />
            <p-confirmDialog />
          </p-fieldset>
        </p-card>
      </div>
    </ng-container>
  </p-dialog>
</div>
