<div class="flex flex-col items-start p-4 w-full mt-10">
  <!--<p-button (click)="visible = true" icon="pi pi-bars" class="shadow-lg p-0 rounded-md mb-4" /> -->

  <div *ngIf="!showCourses" class="flex items-center justify-center w-full">
    <div class="overflow-hidden rounded-lg shadow-lg w-full">
      <div class="card">
        <p-table [value]="courses" [tableStyle]="{ 'min-width': '60rem' }" stripedRows>
          <ng-template #caption>
            <div class="flex items-center justify-between">
              <span class="text-xl font-bold">Cursos</span>
              <p-button label="Refrescar tabla" raised [loading]="loading" (onClick)="ngOnInit()" />
            </div>
          </ng-template>

          <ng-template #header>
            <tr>
              <th>Nombre</th>
              <th>Portada</th>
              <th>Precio</th>
              <th>Tipo de Pago</th>
              <th>Fecha de Creación</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </ng-template>

          <ng-template #body let-course>
            <tr>
              <td>{{ course.name }}</td>
              <td>
                <img
                  [src]="course.image ? course.image : '/cover_img_not_set.png'"
                  [alt]="course.name" class="w-24 rounded" />
              </td>
              <td>{{ course.price | currency:'USD':'symbol':'1.2-2' }}</td>
              <td>
                <p-tag [value]="course.paymentScheme === 'single_payment' ? 'Pago Único' : 'Cuotas'"
                  [severity]="course.paymentScheme === 'single_payment' ? 'success' : 'warn'" />
              </td>
              <td>{{ course.createdAt | date:'dd/MM/yyyy' }}</td>
              <td>
                <p-tag [value]="course.deletedAt ? 'Eliminado' : 'Activo'"
                  [severity]="course.deletedAt ? 'danger' : 'success'" />
              </td>
              <td class="relative">
                <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
                <p-button 
                  (click)="menu.toggle($event); selectedCourse = course" 
                  icon="pi pi-ellipsis-v"
                  class="p-button-text p-button-sm !px-2 !py-1"
                ></p-button>
              </td>
            </tr>
          </ng-template>

          <ng-template #footer>
            Total de cursos: {{ courses ? courses.length : 0 }}
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <p-confirmDialog 
    [style]="{ width: '450px' }"
    rejectButtonStyleClass="p-button-text"
  ></p-confirmDialog>
  <p-toast></p-toast>
</div>

<app-modify-courses 
  #modifyModal
></app-modify-courses>

<aside class="absolute top-5 left-5">
  <main-menu />
</aside>