<p-dialog header="Registrar Curso" [(visible)]="visible" [modal]="true" [style]="{ width: '50rem', heigth: '150rem' }"
  [baseZIndex]="10000" [closeOnEscape]="true" [dismissableMask]="true" [showHeader]="true" [resizable]="false"
  [draggable]="false">
  <p-stepper [value]="1" class="basis-[50rem]">
    <p-step-list>
      <p-step [value]="1">Configuración del curso</p-step>

      <p-step [value]="2">Publicar curso</p-step>
    </p-step-list>

    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback" let-deactivateCallback="deactivateCallback">

          <form [formGroup]="courseForm">
            <div class="flex items-center gap-4 mb-4">
              <label for="courseName" class="font-semibold w-32">Nombre del curso</label>
              <input pInputText id="courseName" class="flex-auto" autocomplete="off" formControlName="name" />
              <small *ngIf="courseForm.get('name')?.touched && courseForm.get('name')?.errors" class="text-red-500">
                El nombre es requerido (máx. 100 caracteres)
              </small>
            </div>

            <div class="flex items-center gap-4 mb-4">
              <label for="coursePrice" class="font-semibold w-32">Precio del curso</label>
              <p-inputNumber inputId="coursePrice" mode="currency" currency="USD" locale="en-US" class="flex-auto"
                formControlName="price"></p-inputNumber>
              <small *ngIf="courseForm.get('price')?.touched && courseForm.get('price')?.errors" class="text-red-500">
                El precio debe ser mayor a 0
              </small>
            </div>
            <div class="flex items-center gap-4 mb-4 ">
              <label for="courseDescription" class="font-semibold w-32">Descripción del curso</label>
              <textarea id="courseDescription" ws="5" cols="30" pTextarea [autoResize]="false" class="flex-auto h-full"
                formControlName="description"></textarea>
              <small *ngIf="courseForm.get('description')?.touched && courseForm.get('description')?.errors"
                class="text-red-500">
                La descripción es requerida (máx. 500 caracteres)
              </small>
            </div>

            <div class="flex items-center gap-4 mb-4">
              <label for="courseImage" class="font-semibold w-32">Imagen del curso</label>
              <p-fileUpload name="image" [customUpload]="true" (onSelect)="onSelectImage($event)" accept="image/*"
                [auto]="false" [showUploadButton]="false" [showCancelButton]="false" mode="basic"
                chooseLabel="Seleccionar imagen">
                </p-fileUpload>


            </div>

            <div class="flex items-center gap-4 mb-4">
              <label for="paymentScheme" class="font-semibold w-32">Esquema de pagos</label>
              <p-selectButton [options]="payment_scheme" optionLabel="name" optionValue="code"
                formControlName="paymentScheme" aria-labelledby="basic"></p-selectButton>
              <small *ngIf="courseForm.get('paymentScheme')?.touched && courseForm.get('paymentScheme')?.errors"
                class="text-red-500">
                Seleccione un esquema de pago
              </small>
            </div>

            <!-- En tu template -->
            <div *ngIf="courseForm.get('paymentScheme')?.value === 'installments'" class="flex flex-col gap-4">
              <div class="flex items-center gap-4 mb-4">
                <label class="font-semibold w-32">Cantidad de cuotas</label>
                <div class="flex items-center gap-4">
                  <p-inputNumber formControlName="installmentsAmount" [min]="1" [max]="12" mode="decimal"
                    [showButtons]="true" class="w-24">
                  </p-inputNumber>
                  <p-button label="Generar tabla" (onClick)="generateInstallmentsTable()"
                    [disabled]="!courseForm.get('installmentsAmount')?.valid">
                  </p-button>
                </div>
              </div>

              <div *ngIf="installmentsArray.length > 0">
                <p-table [value]="installmentsArray.controls" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>#</th>
                      <th>Fecha</th>
                      <th>Porcentaje</th>
                      <th>Monto</th>
                      <th>Acciones</th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-control let-rowIndex="rowIndex">
                    <tr [formGroup]="control">
                      <td>{{ rowIndex + 1 }}</td>
                      <td>
                        <p-datePicker formControlName="date" dateFormat="dd/mm/yy" [showIcon]="true"
                          [minDate]="rowIndex > 0 ? installmentsArray.at(rowIndex-1).value.date : null" appendTo="body">
                        </p-datePicker>
                        <small *ngIf="control.get('date')?.errors?.invalidDateOrder" class="p-error block">
                          La fecha debe ser posterior a la cuota {{ rowIndex }}
                        </small>
                      </td>
                      <td>
                        <div class="flex align-items-center gap-2">
                          <p-inputNumber formControlName="percentage" suffix="%" [min]="1" [max]="100" mode="decimal"
                            (onInput)="updateTotalPercentage()">
                          </p-inputNumber>
                        </div>
                      </td>
                      <td>
                        {{ (courseForm.value.price * (control.value.percentage / 100)) | currency }}
                      </td>
                      <td>
                        <p-button pButton icon="pi pi-trash" severity="danger" (click)="removeInstallment(rowIndex)">
                        </p-button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>

                <!-- Validación de total -->
                <div class="mt-4">
                  <p-message severity="error" *ngIf="totalPercentage !== 100">
                    Total: {{ totalPercentage }}% (Debe sumar 100%)
                  </p-message>

                  <p-message severity="error" *ngIf="totalPercentage === 100 && !areDatesSequential()" class="mt-2">
                    Las fechas de las cuotas deben ser secuenciales
                  </p-message>
                </div>
              </div>
            </div>

            <div class="flex justify-end gap-3 mt-5">
              <p-button label="Cancelar" severity="secondary" (click)="closeModal()" [disabled]="loading"></p-button>
              <p-button label="Siguiente" (click)="activateCallback(2)" [disabled]="shouldDisableNextButton()" />
            </div>
          </form>
        </ng-template>
      </p-step-panel>


      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback" let-deactivateCallback="deactivateCallback">
          <div class="mb-4 p-8 flex items-center justify-center">
            <p-card [style]="{ width: '25rem', overflow: 'hidden' }">

              <ng-template #header>
                <img alt="Portada del curso" class="w-full h-[200px] object-cover"
                  [src]="courseForm.value.image || '/cover_img_not_set.png'" />
              </ng-template>


              <ng-template #title>{{ courseForm.value.name || 'Nombre del curso' }}</ng-template>
              <ng-template #subtitle>{{ courseForm.value.price | currency: 'USD' }}</ng-template>

 
              <p class="line-clamp-3">{{ courseForm.value.description || 'Descripción del curso' }}</p>

              <!-- Footer con botón -->
              <ng-template #footer>
                <div class="flex gap-4 mt-1">
                  <p-button label="Publicar" class="w-full" styleClass="w-full" (click)="onSubmit()" [loading]="loading"
                    [disabled]="courseForm.invalid" />
                </div>
              </ng-template>
            </p-card>
          </div>
          <!-- <p-button label="Volver" severity="secondary" (Click)="activateCallback(1)"></p-button> -->
        </ng-template>
      </p-step-panel>
    </p-step-panels>

  </p-stepper>


</p-dialog>


<p-popover #op>
  <label for="" class="mr-4">Porcentaje de la cuota</label>
  <p-inputnumber inputId="integeronly" prefix="%" [min]="1" [max]="percentageLeftToCover"
    [(ngModel)]="percentagePerInstallment " [disabled]="percentageLeftToCover === 0" />
  <p-button class="ml-4" label="Guardar" (click)=" saveInstallment()"
    [disabled]="percentageLeftToCover === 0"></p-button>
</p-popover>
