<p-dialog header="Crear Curso" [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Ingrese los detalles del curso.</span>
    <div class="flex items-center gap-4 mb-4">
      <label for="courseName" class="font-semibold w-24">Nombre del curso</label>
      <input pInputText id="courseName" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="courseName" class="font-semibold w-24">Nombre del curso</label>
        <input pInputText id="courseName" class="flex-auto" autocomplete="off" />
    </div>
    
    <div class="flex items-center gap-4 mb-4">
        <label for="courseName" class="font-semibold w-24">Nombre del curso</label>
        <input pInputText id="courseName" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="courseName" class="font-semibold w-24">Nombre del curso</label>
        <input pInputText id="courseName" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="courseName" class="font-semibold w-24">Nombre del curso</label>
        <input pInputText id="courseName" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancelar" severity="secondary" />
        <p-button label="Guardar"/>
    </div>
      
  </p-dialog>
  
  