<main class="py-5">

  <!-- Sidebar menu-->
  <aside class="absolute top-5 left-5">
    <main-menu />
  </aside>

  <!-- Navigation bar -->
  <nav class="w-full flex flex-row px-[100px] h-fit items-center justify-between">
    <!-- Page's title -->
    <span>
      <h1 class="text-slate-400 text-xl font-semibold">Vista general</h1>
      <h2 class="text-slate-800 text-2xl font-bold"> Acá tienes un resumen sobre las últimas operaciones </h2>
    </span>
    <span class="flex flex-row gap-4 items-center">
      <app-section-navigator />
      <app-notification />
      
    </span>
  </nav>
  <section class="w-full h-full flex flex-row gap-4 px-[100px] py-10">

    <div class="w-[70%] h-fit border-slate-300 border-2 rounded-2xl p-4">
      <dashboard-income-chart />
    </div>

    <div class="w-[30%] p-4 flex flex-col gap-4">
      <app-payment-method-chart />
      <insight-card />
      <app-transactions-table />
    </div>

  </section>
</main>
