<p-toast></p-toast>

<div class="card flex justify-center">
  <p-drawer #drawerRef [(visible)]="visible">
    <ng-template #headless>
      <div class="flex flex-col h-full">
        <!-- Header -->
        <div class="flex items-center justify-between px-6 pt-4 shrink-0">
          <span class="inline-flex items-center gap-1">
            <div class="flex items-center gap-4b" (click)="redirectToDashboard()">
              <img [src]="company?.image || '/DEFAULT_LOGO_WHILE_LOADING.png'" alt="Company Logo" class="h-12 w-auto object-contain cursor-pointer" loading="lazy">
            </div>
          </span>
          <p-button type="button" (click)="visible = false" icon="pi pi-times" rounded="true" outlined="true"
            styleClass="h-8 w-8"></p-button>
        </div>

        <div class="overflow-y-auto flex-grow p-4">
          <ul class="list-none space-y-2">

            <li>
              <div pRipple
                class="py-3 px-3 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer rounded-md hover:bg-gray-100 transition"
                (click)="goToDashboard()">
                <span class="flex items-center gap-1">
                  <i class="pi pi-home text-base"></i>
                  <span class="font-medium text-sm">Home</span>
                </span>
              </div>
              <!-- Courses -->
              <div pRipple
                class="py-2 px-3 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer rounded-md hover:bg-gray-100 transition"
                (click)="coursesVisible = !coursesVisible">
                <span class="flex items-center gap-1">
                  <i class="pi pi-book text-base"></i>
                  <span class="font-medium text-sm">Cursos</span>
                </span>
                <i class="pi text-sm"
                  [ngClass]="{'pi-chevron-down': !coursesVisible, 'pi-chevron-up': coursesVisible}"></i>
              </div>
              <ul *ngIf="coursesVisible" class="list-none pl-4 space-y-1">
                <li (click)="openCreateCourseModal()">
                  <a pRipple class="flex items-center cursor-pointer py-2 px-3 rounded-md hover:bg-gray-100 transition">
                    <i class="pi pi-file text-sm mr-1"></i>
                    <span class="font-medium text-sm">Crear curso</span>
                  </a>
                </li>
                <li (click)="goToShowCourses()">
                  <a pRipple class="flex items-center cursor-pointer py-2 px-3 rounded-md hover:bg-gray-100 transition"
                    (click)="showCourses = true">
                    <i class="pi pi-table text-sm mr-1"></i>
                    <span class="font-medium text-sm">Ver cursos</span>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Transactions -->
            <li>
              <div pRipple
                class="py-2 px-3 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer rounded-md hover:bg-gray-100 transition"
                (click)="transactionsVisible = !transactionsVisible">
                <span class="flex items-center gap-1">
                  <i class="pi pi-wallet text-base"></i>
                  <span class="font-medium text-sm">Transacciones</span>
                </span>
                <i class="pi text-sm"
                  [ngClass]="{'pi-chevron-down': !transactionsVisible, 'pi-chevron-up': transactionsVisible}"></i>
              </div>
              <ul *ngIf="transactionsVisible" class="list-none pl-4 space-y-1">
                <li (click)="goToTransactions()">
                  <a pRipple class="flex items-center cursor-pointer py-2 px-3 rounded-md hover:bg-gray-100 transition">
                    <i class="pi pi-clock text-sm mr-1"></i>
                    <span class="font-medium text-sm">Historial de Pagos</span>
                  </a>
                </li>
              </ul>
            </li>

            <!-- employees -->
            <li>
              <div pRipple
                class="py-2 px-3 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer rounded-md hover:bg-gray-100 transition"
                (click)="employeesVisible = !employeesVisible">
                <span class="flex items-center gap-1">
                  <i class="pi pi-users text-base"></i>
                  <span class="font-medium text-sm">Empleados</span>
                </span>
                <i class="pi text-sm"
                  [ngClass]="{'pi-chevron-down': !employeesVisible, 'pi-chevron-up': employeesVisible}"></i>
              </div>
              <ul *ngIf="employeesVisible" class="list-none pl-4 space-y-1">
                <li (click)="goToSignupAdmin()">
                  <a pRipple class="flex items-center cursor-pointer py-2 px-3 rounded-md hover:bg-gray-100 transition">
                    <i class="pi pi-user-plus text-sm mr-1"></i>
                    <span class="font-medium text-sm">Registrar Administrador </span>
                  </a>
                </li>

                <li (click)="goToSignUpOperator()">
                  <a pRipple class="flex items-center cursor-pointer py-2 px-3 rounded-md hover:bg-gray-100 transition">
                    <i class="pi pi-user-plus text-sm mr-1"></i>
                    <span class="font-medium text-sm">Registrar Empleado</span>
                  </a>
                </li>

                <li (click)="goToEmployees()">
                  <a pRipple class="flex items-center cursor-pointer py-2 px-3 rounded-md hover:bg-gray-100 transition">
                    <i class="pi pi-list text-sm mr-1"></i>
                    <span class="font-medium text-sm">Lista de Empleados</span>
                  </a>
                </li>
              </ul>
            <li (click)="goToSettings()">
              <div pRipple
                class="py-3 px-3 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer rounded-md hover:bg-gray-100 transition">
                <span class="flex items-center gap-1">
                  <i class="pi pi-pencil text-base"></i>
                  <span class="font-medium text-sm">Estudiantes</span>
                </span>
              </div>
            </li>
            <li (click)="configCompany()">
              <div pRipple
                class="py-3 px-3 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer rounded-md hover:bg-gray-100 transition">
                <span class="flex items-center gap-1">
                  <i class="pi pi-building text-base"></i>
                  <span class="font-medium text-sm">Compañía</span>
                </span>
              </div>
            </li>
          </ul>
        </div>

        <div class="shrink-0 border-t border-gray-300 bg-white p-4 flex items-center gap-2">
          <button pButton icon="pi pi-user" class="w-full" outlined *ngIf="currentUserId"
            (click)="showCurrentUserDetails()">Cuenta</button>
          <button pButton icon="pi pi-sign-out" class="w-full" severity="danger" (click)="logout()">Salir</button>
        </div>
      </div>
    </ng-template>
  </p-drawer>
</div>
<app-create-course #createCourseModal (courseCreated)="loadCourses()"></app-create-course>
<p-button (click)="visible = true" icon="pi pi-bars" class="shadow-lg p-0 rounded-md mb-4" severity="secondary"
  raised="true" />

<p-dialog header="Editar Datos del Administrador" [(visible)]="displayDialog" [style]="{width: '500px'}" [modal]="true">
  <form [formGroup]="configForm" class="p-fluid grid gap-3">
    <!-- Campos del formulario -->
    <div class="field flex flex-col gap-2">
      <label for="firstName">Nombre</label>
      <input id="firstName" pInputText formControlName="firstName" />
      <small *ngIf="configForm.get('firstName')?.invalid" class="p-error">
        Nombre es requerido
      </small>
    </div>

    <div class="field flex flex-col gap-2">
      <label for="lastName">Apellido</label>
      <input id="lastName" pInputText formControlName="lastName" />
      <small *ngIf="configForm.get('lastName')?.invalid" class="p-error">
        Apellido es requerido
      </small>
    </div>
    <div class="field flex flex-col gap-2">
      <label for="identificationNumber">Identificación</label>
      <p-inputNumber id="identificationNumber" formControlName="identificationNumber" [disabled]="true"
        [useGrouping]="false" mode="decimal" placeholder="Ingrese solo números"></p-inputNumber>
      <small *ngIf="configForm.get('identificationNumber')?.errors?.['required']" class="p-error">
        Identificación es requerida
      </small>
      <small *ngIf="configForm.get('identificationNumber')?.errors?.['pattern']" class="p-error">
        Solo se permiten números
      </small>
    </div>
    <div class="field flex flex-col gap-2">
      <label for="password">Contraseña</label>
      <p-password id="password" formControlName="password" [feedback]="false" placeholder="Dejar vacío para no cambiar"
        [toggleMask]="true"></p-password>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancelar" (onClick)="displayDialog = false"></p-button>
      <p-button label="Guardar" [disabled]="configForm.invalid || isLoading" [loading]="isLoading"
        (click)="updateAdmin()"></p-button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog header="Actualización de Empresa" [(visible)]="showCompanyConfig" [modal]="true" [style]="{width: '50vw'}"
  [closable]="true" [dismissableMask]="true">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Nombre -->
      <div class="col-span-1 md:col-span-2">
        <label for="name" class="text-sm font-medium text-gray-700">Nombre de la empresa</label>
        <input id="name" type="text" formControlName="name" placeholder="Ej: Tecplaza"
          class="mt-1 w-full rounded-md border border-gray-300 px-3 py-2 text-gray-900 shadow-sm focus:ring-1 focus:ring-black" />
        <span class="text-xs text-red-500" *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
          El nombre es obligatorio
        </span>
      </div>

      <!-- Imagen -->
      <div class="col-span-1 pt-6 pb-2">
        <div class="bg-gray-300 w-full h-full flex flex-col items-center justify-center rounded-md">
          <label class="text-sm font-medium text-gray-700">Logo o Imagen</label>
          <p-fileUpload name="image" mode="basic" [auto]="true" customUpload (uploadHandler)="onImageUpload($event)"
            accept="image/*" chooseLabel="Subir Imagen" class="w-full mt-1" />
          <div *ngIf="previewImage" class="mt-4">
            <img [src]="previewImage" alt="Vista previa" class="max-h-48 rounded shadow-md" />
          </div>
        </div>
      </div>

      <!-- Descripción -->
      <div class="col-span-1">
        <label for="description" class="text-sm font-medium text-gray-700">Descripción</label>
        <textarea id="description" formControlName="description" rows="6"
          placeholder="Ej: Empresa dedicada a soluciones tecnológicas..."
          class="mt-1 w-full rounded-md border border-gray-300 px-3 py-2 text-gray-900 shadow-sm focus:ring-1 focus:ring-black"></textarea>
      </div>

      <!-- Dirección -->
      <div class="col-span-1">
        <label for="address" class="text-sm font-medium text-gray-700">Dirección</label>
        <input id="address" type="text" formControlName="address" placeholder="Ej: Av. Libertador, Caracas"
          class="mt-1 w-full rounded-md border border-gray-300 px-3 py-2 text-gray-900 shadow-sm focus:ring-1 focus:ring-black" />
      </div>

      <!-- Teléfono -->
      <div class="col-span-1">
        <label for="telephone_number" class="text-sm font-medium text-gray-700">Teléfono</label>
        <input id="telephone_number" type="text" formControlName="telephone_number" placeholder="+58 412-1234567"
          class="mt-1 w-full rounded-md border border-gray-300 px-3 py-2 text-gray-900 shadow-sm focus:ring-1 focus:ring-black" />
      </div>

      <!-- Email -->
      <div class="col-span-1">
        <label for="email" class="text-sm font-medium text-gray-700">Correo electrónico</label>
        <input id="email" type="email" formControlName="email" placeholder="empresa@correo.com"
          class="mt-1 w-full rounded-md border border-gray-300 px-3 py-2 text-gray-900 shadow-sm focus:ring-1 focus:ring-black" />
        <span class="text-xs text-red-500" *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
          Correo inválido
        </span>
      </div>

      <!-- Preferencia de pago -->
      <div class="col-span-1">
        <label for="payment_preference" class="text-sm font-medium text-gray-700">Preferencia de Pago</label>
        <select id="payment_preference" formControlName="payment_preference"
          class="mt-1 w-full rounded-md border border-gray-300 px-3 py-2 text-gray-900 shadow-sm focus:ring-1 focus:ring-black">
          <option value="zelle">Zelle</option>
          <option value="paypal">Paypal</option>
          <option value="both">Ambos</option>
        </select>
      </div>
    </div>

    <!-- Botón -->
    <div class="mt-8 flex justify-center">
      <p-button type="submit" [disabled]="form.invalid || isLoading" [loading]="isLoading" styleClass="px-4 py-2">
        Actualizar Empresa
      </p-button>
    </div>
  </form>
</p-dialog>
